extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Hello, World!
    div.Message
      div.Title
        h3 Let's do a test!
        h1 Can I deploy a simple webapp to Heroku?
      span.Details I guess we'll find out...
    div.NavButtons
      a(href="/user")
          div.NavButton Click Me!